# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# idea configs
.idea/

# node stuff
/web/dist
/web/node_modules
/web/package-lock.json

# internal go code from builds that we dont want included
/internal/assets/appcode.go

# air go runner stuff
tmp/
tmp/build-errors.log

# go builds
builds/

dist/
